* {
    box-sizing: border-box;
  }

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #221D23;
    font-size: 16px;
    color: white;
}







/* GENERAL*/
.col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yellow {
    color: #F9AF2E;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*  smartphone - general */
@media screen and (max-width: 480px) {

}

/* HEADER - NAVBAR*/
.header {
    background-color: #221D23;
    height: 80px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
}
.link {
    display: flex;
    flex-direction: row;
}
.link li a {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.link .nav {
    padding: 10px;
}
.link .cv a{
    color: #F9AF2E;
    padding: 0px 10px 0px 10px;
    margin-left: 15px;
    border: 1px solid #F9AF2E;
    border-radius: 10px;
    width: 65px;
    height: 35px;
    text-align: center;
}
.burger {
    display: none;
}
.burger-menu {
    height: 40px;
    width: 40px;
}
.mobile-burger {
    display: none;
}
.mobile-social {
    display: none;
}
#mobile {
    display: none;
}
#nav-mobile {
    display: none;
}

/*  smartphone - navbar*/
@media screen and (max-width: 480px) {
    .header {
        width: 320px;
    }
    #mobile {
        display: block;
    }
    .logotype {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .mobile-burger {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .cancel img {
        height: 40px;
        width: 40px;
    }
    .navbar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #221D23;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .navbar nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .link {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .burger {
        display: block;
    }
    .mobile-social {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between    ;
    }
    .white-stripe {
        margin-bottom: -15px;
    }
    .social {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}


/* SIDE SOCIAL ICON */
.side{
    width: 60px;
    height: 100vh;
    flex-direction: column;
}

.social-icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.social li {
    padding-bottom: 15px;
}
.social img {
    height: 30px;
    width: 30px;
}
.white-stripe div{
    display: block;
    width: 2px;
    height: 180px;
    background-color: white;
    border-radius: 100px;
}

/*  smartphone - sidebar */
@media screen and (max-width: 480px) {
    .side {
        display: none;
    }
}




/* HERO - SECTION*/
.hero {
    width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo img {
    border-radius: 50px;
    width: 405px;
    height: 405px;
}
.presentation {
    display: flex;
    flex-direction: column;
}
.presentation h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 46px;
}
.presentation h2{
    font-size: 21px;
    margin-bottom: 50px;
}
.nick {
    color: #F9AF2E;
}
.name {
    color: #F9AF2E;
}
#text-writer {
    color: #F9AF2E;
}

/*  smartphone - navbar*/
@media screen and (max-width: 480px) {
    .hero {
        width: 320px;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content:space-around;
        align-content: center;
        margin-top: 50px;
    }
    .photo img{
        width: 320px;
        height: 320px;
    }
}




/* ABOUT ME */
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1000px;
    height: 50vh;
    padding-top: 150px;
}
.about h2 {
    padding-bottom: 50px;
    color: #F9AF2E;
    font-size: 34px;
}

/*  smartphone - about */
@media screen and (max-width: 480px) {
    .about {
        width: 320px;
    }
}





/* EDUCATION AND WORK EXPERIENCE*/
#studilavori {
    padding-top: 150px;
    margin-bottom: 150px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.inner-box {
    background-color: #EAF2EF;
    border: 1px solid #247BA0;
    border-radius: 35px;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
}
.content {
    display: flex;
    height: 100%;
    width: 50%;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
}
.content-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.content-box .yellow-stripe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box img {
    padding-bottom: 35px;
    padding-top: 35px;
}
.edu {
    height: 100%;
    width: fit-content;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
}
.edu p {
    color: black;
    font-size: 16px;
    padding-left: 35px;
}


.box h2 {
    margin-bottom: 30px;
    color: #F9AF2E;
    font-size: 34px;
}
.yellow-stripe div{
    width: 2px;
    height: 100px;
    background-color: #F9AF2E;
    border-radius: 100px;
}



/*  smartphone - study  */
@media screen and (max-width: 480px) {
    .inner-box {
        width: 320px;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .yellow-stripe {
        height: 95px;
    }
}






/* RECENTE PROJECT */
.project {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
}
.buttons {
    font-size: 24px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-bottom: 50px;
}
.active {
    color: #F9AF2E;
}
.container {
    width: 1000px;
}
.folders {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 20px;
    column-gap: 20px;
}
.folder {
    display: none;
    flex: 0 1 320px;
    height: 320px;
    transition: opacity .2s, visibility .2s;
    position: relative;
    z-index: 0;
}

.folder img {
    max-width: 100%;
    background-color: #EAF2EF;
    border: 2px solid #247BA0;
    border-radius: 35px;
}

.project-desc {
    display: none;
}
.project-desc p {
    color: #F9AF2E;
    font-size: 18px;
}
.folder:hover .project-desc {
    border-radius: 35px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    background: linear-gradient(rgba(255,0,0,0), rgba(0, 0, 0, 0.8));
}
.visible {
    display: flex;
}
.non-visible {
    display: none;
}



/*  smartphone - project  */
@media screen and (max-width: 480px) {
    .project {
        width: 320px;   
    }
    .buttons {
        width: 100%;
    }

    .container {
        width: 320px;
    }
}





/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100vh;
}
.contact h2 {
    margin-bottom: 70px;
    color: #F9AF2E;
    font-size: 34px;
}
.email {
    margin-bottom: 20px;
    margin-top: 50px;
    color: #F9AF2E;
    padding: 0px 10px 0px 10px;
    border: 1px solid #F9AF2E;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  smartphone - contact  */
@media screen and (max-width: 480px) {
    .contact {
        width: 320px;
        text-align: center;
    }
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 80px;
}

/*  smartphone - study  */
@media screen and (max-width: 480px) {
    .footer {
        width: 320px;
    }
}
