* {
    box-sizing: border-box;
  }

html, body {
    background-color: #221D23;
    font-size: 16px;
    color: white;
}

.yellow {
    color: #F9AF2E;
}

/* GENERAL*/
.col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER - NAVBAR*/
.header {
    height: 80px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
}
.link {
    display: flex;
    flex-direction: row;
}
.link li a {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.link .nav {
    padding: 10px;
}
.link .cv a{
    color: #F9AF2E;
    padding: 0px 10px 0px 10px;
    margin-left: 15px;
    border: 1px solid #F9AF2E;
    border-radius: 10px;
    width: 65px;
    height: 35px;
    text-align: center;
}

/* SIDE SOCIAL ICON */
.side{
    width: 60px;
    height: 100vh;
    flex-direction: column;
}

.social-icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.social li {
    padding-bottom: 15px;
}
.social img {
    height: 30px;
    width: 30px;
}
.white-stripe div{
    display: block;
    width: 2px;
    height: 180px;
    background-color: white;
    border-radius: 100px;
}

/* HERO - SECTION*/
.hero {
    width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo {
    width: 405px;
    height: 405px;
}
.photo img {
    border-radius: 70px;
}
.presentation {
    display: flex;
    flex-direction: column;
}
.presentation h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 46px;
}
.presentation h2{
    font-size: 21px;
    margin-bottom: 50px;
}
.nick {
    color: #F9AF2E;
}
.name {
    color: #F9AF2E;
}
#text-writer {
    color: #F9AF2E;
}

/* ABOUT ME */
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1000px;
    height: 200px;
}
.about h2 {
    margin-bottom: 20px;
    color: #F9AF2E;
    font-size: 34px;
}





/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100vh;
}
.contact h2 {
    margin-bottom: 70px;
    color: #F9AF2E;
    font-size: 34px;
}
.email {
    margin-bottom: 20px;
    margin-top: 50px;
    color: #F9AF2E;
    padding: 0px 10px 0px 10px;
    margin-left: 15px;
    border: 1px solid #F9AF2E;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 80px;
}